
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
}
html {
  position: relative;
  min-height: 100%;
}
.red {
  color: red;
}
.your-menu {
  text-align: center;
  font-size: 40px;
}
.no-menu-items {
  text-align: center;
  margin: 100px;
}

.background2 {
  background-image: url("../images/rsz_burger.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.background3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/rsz_food1.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: #fff;
}


.nav-options {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-options a {
  color: #f7f0e2;
  font-weight: lighter;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 20px;
}
.nav-options a:hover {
  color: rgb(223, 181, 0);
}

.user {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.user a {
  color: #f7f0e2;
  font-weight: lighter;
  text-decoration: none;
  font-size: 22px;
  margin: 10px 20px;
}
.user a:hover {
  color: rgb(223, 181, 0);
}

.navigation {
  display: flex;
  background-color: #02122C;
}
.landing-nav {
  background-color: rgba(15, 15, 15, 0.6);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.landing-nav a {
  color: #f7f0e2;
  font-weight: lighter;
  text-decoration: none;
  font-size: 16px;
  margin: 8px 27.4px;
}

.landing-nav a:hover {
  color: rgb(223, 181, 0);
}
.title {
  color: rgb(223, 181, 0);
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
  margin-top: -30px;
}
.navbar1 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #02122C;
}
.navbar1 a {
  font-weight: lighter;
  text-decoration: none;
  margin: 20px 40px;
  color: #f7f0e2;
  font-size: 24px;
}
.navbar1 a:hover {
  color: rgb(223, 181, 0);
}

.center-flex {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-forms {
  border-radius: 5px;
  padding: 2%;
  background-color: #fff;
}

.auth-forms h1 {
  text-align: center;
}
blockquote {
  font-size: 20px;
}
.info {
  margin: 5% 0%;
  padding: 2% 5%;
}
.lastname {
  color: #f7f0e2;
  font-size: 16px;
}
.icons {
  font-size: 130px;
}
.header {
  font-size: 40px;
  text-shadow: 1px 1px 1px #000;
  font-weight: 300;
  margin-top: 60px;
  padding: 10px;
}
.get-started {
  text-align: center;
  margin-bottom: 100px;
}
.cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  height: 300px;
}
.cards div p {
  font-family: 'Amatic SC', cursive;
  padding: 20px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 44px;
}
.cards div img {
  width: 160px;
  height: 160px;
}
.page-titles {
  margin: 0;
  padding: 20px;
  text-align: center;
}
.banner {
  color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.6);
}
.banner button {
  margin: 80px;
  width: 300px;
}
.banner h4 {
  width: 400px;
  font-weight: 300;
  color: rgb(213, 208, 208);
  text-shadow: 1px 1px 1px #000;
}
.get-started {
  align-items: center;
  padding: 50px;
}
.footer {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-color: #02122C;
  height: 10vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer p {
  color: gray;
  margin-right: 20px;
}
.footer a {
  color: #377BB5;
}
.footer a:hover {
  color: rgb(255, 230, 0);
  text-decoration: none;
}
.steps {
  color: #fff;
  margin: 40px 0px 20px 0px;
  background-color: #02122C;
  border-radius: 5px;
  padding: 10px 20px;
}
.step-two {
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.3);
}
.to-gray {
  color: gray;
}
.center-text {
  text-align: center;
  margin: 0;
}
.right-text {
  text-align: right;
}
.add-recipe {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.empty-message {
  padding: 100px;
  display: flex;
  justify-content: center;
}
.menu-items {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted gray;
}
.menu-heading {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-heading a {
  width: 60%;
}
.menu {
  margin-bottom: 100px;
  width: 70%;
}

.menu-description {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
}
.menu-heading a {
  /*color: #000;*/
  font-size: 30px;
}


.edit-delete-buttons {
  display: flex;
  justify-content: space-around;
}
.step-three {
  margin-bottom: 100px;
}
.crud-menu {
  margin-bottom: 100px;
}
.text-right {
  text-align: right;
}

/****************************** NUTRITION LABEL ****************************/
.nutrition-nav {
  width: 100%;
  height: 10vh;
  background-color: #02122C;
}

.nutrition-label-outer {
  background: linear-gradient(right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1) ), url("../images/rsz_label.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nutrition-label {
  box-shadow: 2px 2px 6px black;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif ;
	width: 350px;
	border: solid black 2px;
	padding: 10px;
}

.nutrition-title {
	font-weight: bold;
	font-size: 2.5em;
}

.nutrition-recipe {
  margin: 2px;
	font-size: 1.1em
}

.nutrition-line {
	background-color: black;
	height: 5px;
	margin-top: 2px
}

.nutrition-line-big {
	height: 10px;
}

.nutrition-item {
	border-top: 1px solid black;
	font-size: 1em;
	display: flex;
	width: 100%;
}

.nutrition-item span strong {
  margin-right: 4px;
}

.nutrition-sub-item {
  display: flex;
	border-top: 1px solid black;
	font-size: 1em;
	margin-left: 5%;
	width: 95%;
}
.nutrition-sub {
  width: 100%;
  text-align: left;
}

.sub-percent {
  float: right;
  text-align: right;
}

.nutrition-main {
	width: 100%;
	text-align: left;
}

.nutrition-percentage {
	width: 80%;
	text-align: right;
}

.nutrition-daily {
  width: 100%;
  text-align: right;
}

.nutrition-warning {
  margin-top: 5px;
	color: #aaaaaa;
	font-size: .8em;
}
