
body {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}
.red {
  color: red;
}
.your-menu {
  text-align: center;
  font-size: 40px;
}
.no-menu-items {
  text-align: center;
  margin: 100px;
}
.background {
  background-image: url("food1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.background2 {
  background-image: url("burger.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.background3 {
  background-color: #02122C;
  height: 240px;
  text-align: center;
  color: #fff;
}
.background4 {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-options {
  width: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-options a {
  color: #f7f0e2;
  font-weight: lighter;
  text-decoration: none;
  font-size: 20px;
  margin: 10px 20px;
  font-variant: small-caps;
  letter-spacing: 2px;
}
.user {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.user a {
  color: #f7f0e2;
  font-weight: lighter;
  text-decoration: none;
  font-size: 22px;
  margin: 10px 20px;
  font-variant: small-caps;
  letter-spacing: 2px;
}
.user-icon {
  color: #f7f0e2;
}
.navigation {
  display: flex;
  background-color: #02122C;
}
.navbar1 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #02122C;
}
.navbar1 a {
  font-weight: lighter;
  text-decoration: none;
  margin: 20px 40px;
  color: #f7f0e2;
  font-size: 24px;
  font-variant: small-caps;
  letter-spacing: 2px;
}
.navbar1 a:hover {
  color: rgb(223, 181, 0);
}

.center-flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-forms {
  border-radius: 5px;
  padding: 2%;
  background-color: #fff;
}

.auth-forms h1 {
  text-align: center;
}

.info {
  box-shadow: 10px 10px 20px gray;
  margin: 5% 0%;
  border-radius: 5px;
  color: #000;
  background-color: #dddbdb;
  padding: 2% 5%;
}

.header {
  color: rgb(255, 230, 0);
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 0;
  padding: 30px;
}
.get-started {
  text-align: center;
  margin-bottom: 100px;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px gray;
  flex-basis: 30%;
  height: 300px;
  background-color: #dddbdb;
  border-radius: 5px;
}
.cards div p {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
}

.get-started {
  align-items: center;
  padding: 50px;
}
.footer {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-color: #02122C;
  height: 74px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer p {
  color: gray;
  margin-right: 20px;
}
.footer a {
  color: #377BB5;
}
.footer a:hover {
  color: rgb(255, 230, 0);
  text-decoration: none;
}
.steps {
  color: #fff;
  margin: 40px 0px 20px 0px;
  background-color: #02122C;
  border-radius: 5px;
  padding: 10px 20px;
}
.step-two {
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.3);
}
.to-gray {
  color: gray;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.add-recipe {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.empty-message {
  padding: 100px;
  display: flex;
  justify-content: center;
}
.menu-items {
  margin: 15px 5px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 3px 3px 10px black;
}
.menu-heading {
  background-color: rgba(170, 170, 170, 0.3);
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}
.menu-description {
  padding: 20px;
}
.menu {
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 110px;
}
.edit-delete-buttons {
  display: flex;
  justify-content: space-around;
}
.step-three {
  margin-bottom: 100px;
}
